@model DataAccess.Entities.Product
@using DataAccess.Entities
@using BLL.Models;
@using AdminApp.Models
@{
    Layout = "_Layout";
    List<Product> products = ViewBag.TopProducts;
    List<OrderByMonth> orderByMonth = ViewBag.OrderByMonth;
}


<div class="container-fluid mt-4">
    <div class="card mb-4">
        <div class="col-md-12 mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div>Top bán chạy</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Nhà cung cấp</th>
                                <th scope="col">Loại sơn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                for (int i = 0; i < products.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@(i + 1)</th>
                                        <td>@products.ElementAt(i).Name</td>
                                        <td>@products.ElementAt(i).Price</td>
                                        <td>@products.ElementAt(i).Producer.Name</td>
                                        <td>@products.ElementAt(i).Category.Name</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div>Số lượng đơn hàng trong 6 tháng</div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <script crossorigin="anonymous">
            var ctx = document.getElementById("myChart").getContext('2d');
            var monthNow = new Date().getMonth() + 1;
            var lsLabels = [];
            var lsDatas = [0,0,0,0,0, 0];

            for (var i = 5; i >= 0; i--) {
                lsLabels.push("T" + (monthNow - i <= 0 ? 12 - (monthNow - i): monthNow - i));
            }

            @foreach(var item in orderByMonth)
            {
                @:lsDatas.splice(0, 1);
               @:lsDatas.push(@item.quantity);
            }
            console.log(lsDatas);
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: lsLabels,
                    datasets: [{
                        label: '# Số lượng đơn',
                        data: lsDatas,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        </script>
    </div>

</div>