@model IEnumerable<DataAccess.Entities.OrderView>

@{
    Layout = "Orders/_layout";
}

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-fill mr-1"></i>Danh sách đơn hàng</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã đơn hàng</th>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        
                        <tr>
                            <th scope="row">@(i+1)</th>
                            <td>@item.OrderId</td>
                            <td>@item.CustomerName</td>
                            <td>
                                @item.CustomerPhone
                            </td>
                            <td>@item.CustomerAddress</td>
                            <td>

                                <a asp-action="Details" asp-route-id="@item.OrderId" class="text-info">
                                    <div class="btn btn-primary">Chi tiết</div>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.OrderId" class="text-warning">   
                                    <div class="btn btn-danger">Xóa</div>
                                </a>  
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>