@using DataAccess.Entities
@{ 
    MinhHungShopContext dBContext = new MinhHungShopContext();
    List<DataAccess.Entities.ProductCategory> categories = dBContext.ProductCategory.ToList();
}
<!DOCTYPE html>
<html lang="en" style="font-size:15px">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <!-- Custom styles for this template -->


</head>
<body class="body1" style="margin-top:0px">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Minh Hùng Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img style="margin-top:50px" src="~/images/logo.PNG" />
                <div class="title_cate_l">Danh mục</div>
                <div class="cate_l">
                    @for (int i = 0; i < categories.Count; i++)
                    {
                        <a href="@Url.Action("Category", "Home", new { id = categories[i].Id })" class="list-group-item">@categories[i].Name</a>
                    }
                </div>
                <div class="title_l">
                    <div class="ct_t_l">
                        <a style="color:white" href="" title="GÓC TƯ VẤN">GÓC TƯ VẤN</a>
                    </div>
                </div>
                <div class="ct_box_l">
                    <ul class="list_n_l">
                        <li style="margin-top:20px">

                            <a style="color:green" href="@Url.Action("NhaTuoiMoi", "GocTuVan")" title="Tuyệt chiêu giúp ngôi nhà luôn mới">Tuyệt chiêu giúp ngôi nhà luôn mới</a>
                            <br clear="all">
                        </li>
                        <li style="margin-top:20px">

                            <a style="color:green;  margin-top:20px" href="@Url.Action("SonNhaTietKiem", "GocTuVan")" title="Bí mật sơn nhà tiết kiệm">Bí mật sơn nhà tiết kiệm</a>
                            <br clear="all">
                        </li>
                        <li style="margin-top:20px">

                            <a style="color:green; margin-top:20px" href="@Url.Action("NguyenTacSonNha", "GocTuVan")" title="Nguyên tắc vàng cho nhu cầu sơn nhà">Nguyên tắc vàng cho nhu cầu sơn nhà</a>
                            <br clear="all">
                        </li>
                        <li style="margin-top:20px">

                            <a style="color:green; margin-top:20px" href="" title="Bí quyết tối ưu chi phí sơn nhà">Bí quyết tối ưu chi phí sơn nhà</a>
                            <br clear="all">
                        </li>
                        <li style="margin-top:20px">

                            <a style="color:green" href="" title="Khắc phục bề mặt bột trét có nhiều vết xước">Khắc phục bề mặt bột trét có nhiều vết xước</a>
                            <br clear="all">
                        </li>
                    </ul>
                </div>
            </div>
            
            @RenderBody()
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Chuyên cung cấp sơn chính hãng hàng đầu Việt Nam &copy;</p>
            <p class="m-0 text-center text-white">Liên hệ : 0987654321</p>
            <p class="m-0 text-center text-white">Thiết kế bới : HNPH</p>

        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
